html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.041666667vw;
}
body {
  white-space: pre-line;
}

img{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}
p{
  margin: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/public/font/Pretendard-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@media all and (min-width: 1920px) {
  html, body{
    width: 1920PX;
    height: 100%;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}